<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatosClinica.Properties.Settings.ClinicaConnectionString"
            connectionString="Data Source=DESKTOP-FF2K8GA\BDDEPN;Initial Catalog=Clinica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DatosClinica.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=DESKTOP-FF2K8GA\BDDEPN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>